<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear Admins,

    <p>Please be advised that <%= @coin.name %> with a value of <%= @coin.value %> is low on inventory.</p>
    
  </body>
</html>
